<ion-header collapse="fade">
  <ion-toolbar>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="header">
          <img
            class="centerheader"
            src="../../assets/img/logo_VV_blanco_mini.png"
        /></ion-col>
        <ion-col class="header"> </ion-col>
      </ion-row>
    </ion-grid>

    <ion-segment [(ngModel)]="segmentModel">
      <ion-segment-button value="people">
        <ion-label>PEOPLE</ion-label>
      </ion-segment-button>
      <ion-segment-button value="groups">
        <ion-label>GROUPS</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="!isloading">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
    <div *ngIf="isloading">
      <ion-progress-bar
        type="indeterminate"
        style="display: none"
      ></ion-progress-bar>
    </div>
  </ion-toolbar>
</ion-header>

<div *ngIf="!isloading">
  <ion-backdrop [visible]="true"></ion-backdrop>
</div>
<div *ngIf="isloading">
  <ion-backdrop [visible]="false" style="display: none"></ion-backdrop>
</div>

<ion-content>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="segmentModel === 'groups'">
    <ion-row lines="none">
      <ion-col
        size="6"
        class="P_cart ion-activatable ripple-parent"
        (click)="goToGroup('Accion')"
      >
        <ion-card>
          <ion-thumbnail
            style="width: 160px; height: 220px; background-size: cover"
          >
            <img
              alt="Silhouette of mountains"
              src="https://media.gq.com.mx/photos/5be9df325c1fcbd1504c3507/16:9/w_2560%2Cc_limit/john_whick_327.jpg"
            />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col>Group Accion</ion-col>
            </ion-row>
          </ion-grid>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col
        size="6"
        class="P_cart ion-activatable ripple-parent"
        (click)="goToGroup('Anime')"
      >
        <ion-card>
          <ion-thumbnail
            style="width: 160px; height: 220px; background-size: cover"
          >
            <img
              alt="Silhouette of mountains"
              src="https://www.mundodeportivo.com/alfabeta/hero/2022/01/series-anime-shonen-jump.jpg?width=768&aspect_ratio=16:9&format=nowebp"
            />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col>Group anime</ion-col>
            </ion-row>
          </ion-grid>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col
        size="6"
        class="P_cart ion-activatable ripple-parent"
        (click)="goToGroup('terror')"
      >
        <ion-card>
          <ion-thumbnail
            style="width: 160px; height: 220px; background-size: cover"
          >
            <img
              alt="Silhouette of mountains"
              src="https://www.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/01/El%20Resplandor.jpg"
            />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col>Group terror</ion-col>
            </ion-row>
          </ion-grid>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col
        size="6"
        class="P_cart ion-activatable ripple-parent"
        (click)="goToGroup('romance')"
      >
        <ion-card>
          <ion-thumbnail
            style="width: 160px; height: 220px; background-size: cover"
          >
            <img
              alt="Silhouette of mountains"
              src="https://hips.hearstapps.com/hmg-prod/images/bridgerton-portada-1659513927.jpg?crop=0.668xw:1.00xh;0.224xw,0&resize=1200:*"
            />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col>Group romance</ion-col>
            </ion-row>
          </ion-grid>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col
        size="6"
        class="P_cart ion-activatable ripple-parent"
        (click)="goToGroup('comics')"
      >
        <ion-card>
          <ion-thumbnail
            style="width: 160px; height: 220px; background-size: cover"
          >
            <img
              alt="Silhouette of mountains"
              src="https://gentwenty.com/wp-content/uploads/2013/07/Superheroes.jpg.webp"
            />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col>Group superheroes</ion-col>
            </ion-row>
          </ion-grid>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <ion-col
        size="6"
        class="P_cart ion-activatable ripple-parent"
        (click)="goToGroup('drama')"
      >
        <ion-card>
          <ion-thumbnail
            style="width: 160px; height: 220px; background-size: cover"
          >
            <img
              alt="Silhouette of mountains"
              src="https://img.ecartelera.com/noticias/26100/26146-c.jpg"
            />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-col>Group drama</ion-col>
            </ion-row>
          </ion-grid>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="segmentModel === 'people'">
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let user of users; let index">
          <ion-item *ngIf="user._id != userId" (click)="goToUser(user._id)">
            <ion-avatar
              class="avatarUser"
              *ngIf="user.profilePicture === 'image.png'"
            >
              <ion-img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              ></ion-img>
            </ion-avatar>
            <ion-avatar
              class="avatarUser"
              *ngIf="user.profilePicture != 'image.png'"
              (click)="goToUser(user._id)"
            >
              <ion-img [src]="user.profilePicture" alt="user pfp"></ion-img>
            </ion-avatar>
            <ion-label class="ion-text-center">{{user.username}}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
