<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-button color="funaprimary" class="backbtn" (click)="gotToDiscover()"
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-button>
  </ion-toolbar>
  <div *ngIf="!isloading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div *ngIf="isloading">
    <ion-progress-bar
      type="indeterminate"
      style="display: none"
    ></ion-progress-bar>
  </div>
</ion-header>

<div *ngIf="!isloading">
  <ion-backdrop [visible]="true"></ion-backdrop>
</div>
<div *ngIf="isloading">
  <ion-backdrop [visible]="false" style="display: none"></ion-backdrop>
</div>

<ion-content>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="handleRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-img
      class="S_frontpage"
      [src]="movieDetails.posters[0]"
      alt="avatar"
    ></ion-img>
  </ion-card>
  <ion-card class="transparent-bg" style="color: white">
    <div
      class="bg-image"
      [style.backgroundImage]="'url(' + movieDetails.posters[1] + ')'"
    ></div>
    <ion-card-header>
      <ion-card-title
        [innerHTML]="movieDetails.title"
        style="color: white; font-weight: bold"
      ></ion-card-title>
      <ion-card-content
        [innerHTML]="movieDetails.tagline"
        style="color: white; font-weight: semi-bold"
      >
      </ion-card-content>
      <ion-card-subtitle
        ><label style="color: white" for="">type:</label
        ><ion-chip class="serie_movie" color="secondary"
          >Movie</ion-chip
        ></ion-card-subtitle
      >
      <ion-card-subtitle style="color: white"
        ><label for="">Release Date :</label
        ><ion-chip
          class="serie_movie"
          color="secondary"
          [innerHTML]="movieDetails.releaseDate"
        ></ion-chip
      ></ion-card-subtitle>
      <ion-card-subtitle
        ><label for="" style="color: white">Runtime:</label
        ><ion-chip
          class="serie_movie"
          color="secondary"
          [innerHTML]="movieDetails.runtime + ' minutes'"
        ></ion-chip
      ></ion-card-subtitle>
      <ion-card-subtitle
        ><label for="" style="color: white">Genre/s:</label>
        <ion-chip
          class="gender"
          color="secondary"
          *ngFor="let genre of movieDetails.genres; let i = index"
          [innerHTML]="movieDetails.genres[i]"
        ></ion-chip>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content [innerHTML]="movieDetails.overview"> </ion-card-content>
  </ion-card>

  <ion-button class="whatchbtn" expand="block"
    ><ion-icon name="add-circle-outline"></ion-icon>Wacht list</ion-button
  >

  <ion-grid>
    <ion-row>
      <ion-col style="display: flex; justify-content: center">
        <ion-label>Average by the critics</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="display: flex; justify-content: center">
        <ion-thumbnail>
          <div class="ion-text-center">
            <ion-badge [innerHTML]="movieDetails.criticVoteAverage"></ion-badge>
          </div>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col style="display: flex; justify-content: center">
        <ion-label>Average by the audience</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="display: flex; justify-content: center">
        <ion-thumbnail>
          <div class="ion-text-center">
            <ion-badge [innerHTML]="movieDetails.publicVoteAverage"></ion-badge>
          </div>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-label class="title">WHAT TO KNOW</ion-label>
  </ion-toolbar>

  <ion-card style="color: #fff">
    <ion-card-header>
      <ion-card-subtitle class="review">Critics Consensus</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-note color="secondary" (click)="setOpenCritics(true)">
        Read critic reviews</ion-note
      >
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle class="review">Audience Says</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-note color="secondary" (click)="setOpenAudience(true)"
        >Read audience reviews</ion-note
      >
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-label class="title">Trailers & Videos</ion-label>
  </ion-toolbar>

  <ion-segment [scrollable]="true" value="disabled"> </ion-segment>

  <swiper-container [slidesPerView]="1" [spaceBetween]="10">
    <swiper-slide
      swiperSlide
      *ngFor="let vide of movieDetails.trailers; let i = index"
    >
      <div class="iframe-container">
        <iframe
          width="100%"
          height="100%"
          [src]="getVideoUrl2(vide)"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-toolbar>
    <ion-label class="title">RATE & PREVIEW</ion-label>
  </ion-toolbar>

  <ion-card (click)="setOpenRating(true)">
    <ion-card-content>
      <ul
        class="list-inline rating-list2"
        *ngFor="let star of stars; let i=index"
      >
        <li
          (click)="countStar(star)"
          [ngClass]="{'selected': (star <= selectedValue)}"
          (mouseover)="addClass(star)"
          (mouseout)="removeClass()"
        >
          <span class="material-icons"><ion-icon name="star"></ion-icon></span>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal [isOpen]="isModalCritics">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>critic reviews</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpenCritics(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card *ngFor="let review of criticReviews">
        <ion-toolbar>
          <ion-row class="ion-align-items-end">
            <ion-col size="auto">
              <ion-avatar>
                <img
                  alt="Silhouette of a person's head"
                  src="https://ionicframework.com/docs/img/demos/avatar.svg"
                />
              </ion-avatar>
            </ion-col>
            <ion-col>
              <ion-col class="ion-align-self-center"
                >{{review.owner.username}}</ion-col
              >
              <ion-icon class="verified" name="star"></ion-icon><br />
              <ion-col class="ion-align-self-center">Critic</ion-col>
            </ion-col>
          </ion-row>
        </ion-toolbar>

        <ion-card-content [innerHTML]="review.review"> </ion-card-content>
        <ion-grid>
          <ion-row>
            <!-- <ion-col [innerHTML]="'Score: ' + review.rating">{{}}</ion-col> -->
            <ion-col>{{"Score: " + review.rating + "/5"}}</ion-col>

            <ion-col *ngIf="review.edited">
              <small
                ><em
                  >Edited at: {{review.updatedAt | date : "short"}}</em
                ></small
              >
            </ion-col>
            <ion-col>
              <small
                ><em
                  >Created at: {{review.createdAt | date : "short"}}</em
                ></small
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalAudience">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Read audience reviews</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpenAudience(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card *ngFor="let review of audienceReviews">
        <ion-toolbar>
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-avatar>
                <img
                  alt="Silhouette of a person's head"
                  src="https://ionicframework.com/docs/img/demos/avatar.svg"
                />
              </ion-avatar>
            </ion-col>
            <ion-col class="ion-align-self-center"
              >{{review.owner.username}}</ion-col
            >
          </ion-row>
        </ion-toolbar>

        <ion-card-content [innerHTML]="review.review"> </ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>{{"Score: " + review.rating + "/5"}}</ion-col>
            <ion-col *ngIf="review.edited">
              <small
                ><em
                  >Edited at: {{review.updatedAt | date : "short"}}</em
                ></small
              >
            </ion-col>
            <ion-col>
              <small
                ><em
                  >Created at: {{review.createdAt | date : "short"}}</em
                ></small
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalRating">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-avatar class="miniAvatar">
          <ion-img src="../../../../assets/img/serve.png"></ion-img>
        </ion-avatar>

        <ion-buttons slot="end">
          <ion-button (click)="setOpenRating(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="star-icons">
        <ion-icon
          name="star"
          *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
          (click)="countStar(i + 1)"
          (mouseover)="addClass(i + 1)"
          [color]="i < selectedValue ? 'primary' : 'medium'"
        ></ion-icon>
      </div>

      <p>What did you think of the movie?(optional)</p>
      <ion-textarea
        placeholder="Your review help others find great movies and shows to watch."
        [autoGrow]="true"
        [(ngModel)]="review.review"
      ></ion-textarea>
      <ion-button shape="round" (click)="createReview()">submit</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
