<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-button
        color="funaprimary"
        class="backbtn"
        routerLink="/home"
        routerDirection="back"
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding container">
    <h1>Signup</h1>
    <div class="form-container">
      <ion-item>
        <ion-input
          color="funaprimary"
          class="custom"
          [(ngModel)]="newUser.name"
          label="Name"
          labelPlacement="floating"
          fill="solid"
          placeholder="Name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          color="funaprimary"
          class="custom"
          [(ngModel)]="newUser.lastname"
          label="Last name"
          labelPlacement="floating"
          fill="solid"
          placeholder="Last name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          color="funaprimary"
          class="custom"
          [(ngModel)]="newUser.username"
          label="User name"
          labelPlacement="floating"
          fill="solid"
          placeholder="User name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          color="funaprimary"
          class="custom"
          [(ngModel)]="newUser.email"
          label="Email"
          labelPlacement="floating"
          fill="solid"
          placeholder="Email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          color="funaprimary"
          class="registerbtn"
          type="Password"
          id="password"
          [(ngModel)]="newUser.password"
          fill="solid"
          label="Password"
          labelPlacement="floating"
          placeholder="Password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          color="funaprimary"
          class="registerbtn"
          id="repeat_password"
          fill="solid"
          type="password"
          [(ngModel)]="newUser.repeat_password"
          label="Repeat password"
          labelPlacement="floating"
          placeholder="Repeat password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col size="auto">
              <re-captcha
                (resolved)="$event && resolved($event)"
                siteKey="6LfGggkpAAAAANatWumXDa5Exc1rZiCIVYjcQqgJ"
              ></re-captcha>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-button class="registerbtn" expand="block" (click)="signup()"
        >Sign up</ion-button
      >
      <div class="sign-up">
        already have an account?
        <ion-button
          color="dark"
          fill="clear"
          routerLink="/login"
          routerDirection="forward"
          >Log in</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
