ion-content::part(background) {
  background: url(../../assets/img/cartelera.jpg);
  background-size: cover; 
}




.container{
  height: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.button-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ion-button.joinbtn{
  background-color:var( --ion-color-viewer_secundary);
  color: var(--ion-color-funaprimary-contrast);
}

ion-button.signupbtn{
  background-color:var( --ion-color-viewer_secundary);
  color: #fff;
}

ion-button.skip{
  border-radius: 30px;
  background-color:var( --ion-color-viewer_secundary);

}