<ion-header collapse="fade">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-button color="funaprimary" class="backbtn" (click)="goBack()"
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-button>
    <ion-buttons fill="clear" slot="end">
      <ion-button
        color="funaprimary"
        class="User-options-btn"
        (click)="presentActionSheet()"
        *ngIf="user._id === userLogged"
      >
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div>
    <ion-grid [fixed]="true">
      <ion-card>
        <ion-avatar
          class="avatarUser"
          *ngIf="user.profilePicture === 'image.png'"
        >
          <ion-img
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          ></ion-img>
        </ion-avatar>
        <ion-avatar
          class="avatarUser"
          *ngIf="user.profilePicture != 'image.png'"
        >
          <ion-img [src]="user.profilePicture"></ion-img>
        </ion-avatar>
        <ion-card-header>
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              <span class="user">{{user.name}} {{user.lastname}}</span>
            </ion-card-title>
            <ion-card-subtitle class="userName" color="funacomplemen0">
              <span class="user">{{user.username}}</span>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card-header>
        <ion-button
          class="Followbn_edit"
          fill="solid"
          color="funaprimary"
          expand="block"
          style="margin: 10px; padding: 10px"
          *ngIf="user._id != userLogged"
          (click)="sendMessage(user._id)"
          >Send Message</ion-button
        >

        <div class="User-statics-container">
          <ion-grid [fixed]="true">
            <ion-row> </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>

<ion-modal [isOpen]="isModalEdit">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Edit User</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpenEdit(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          [(ngModel)]="user.name"
          label="Name"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="user.lastname"
          label="last Name"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="user.username"
          label="user name"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="user.email"
          label="email"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <div class="submit-container">
        <ion-button shape="round" (click)="editUser()">Edit</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
