ion-backdrop {
    background: var(--ion-color-viewer_secundary-contrast);
    opacity: 0.1;
  }


ion-card-content{
    color: #fff;
}

ion-backdrop {
  background: var(--ion-color-viewer_secundary-contrast);
  opacity: 0.7;
}
